main {
    position:absolute;
    align-content: center;
}


#DIV1 {
    background-image: url(../img/VintageCarta.png);
    background-size:cover;
    background-attachment: fixed;
    height: 500px;
    width: 900px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 1rem;
}

#DIV2 {
    position: relative;
    
    height: 400px;
    width: 385px;
    float:left;
    margin-left: 20px;
    margin-top: 60px
        
}
img {
    border-radius: 1rem;
        height: 76%;
        
}
H2 {
    position:absolute;
    bottom: 5px;
    margin-left: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#DIV3 {
    position: relative;
    
    height: 400px;
    width: 365px;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}
p {
    margin-top: 10%;
    font-size: 110%;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    
    
}
h2::first-letter{
    font-size: 200%;
}