@keyframes entrar {
    from {
        transform: scale(130%);
    }
    to {
        transform: scale(100%);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Helvetica';
    text-decoration: none;
}
.redessociales {
    background-color: black;
}
.redessociales img {
    width: 2%;
    margin-left: 90%;
}
.navegador {
    background-color: black;
}

.navegador section{
    margin-left:30%;
    font-size: 0.9vw;
    padding-bottom: 1%;
}
.navegador a {
    color: white;
    padding: 1.5%;
}
.logo {
    max-width: 100%;
    
}
.logo img {
    max-width: 100%;
    animation: entrar 2s;
    width:100vw;
}
.productos {
    background-color: black;
    max-width: 100%;
    height: 75vw;
    color: white;
}
.productos h2 {
    margin-left: 45%;
}
.productos section {
    margin-top: 5%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns:20% 20% 20% 20%;
    grid-gap: 2%;
}
.tarjeta {
    
    background-color: green;
    width: 95%;
    margin-top: 5%;
    margin-left: 55%;
    margin-bottom: 40%;
    
}
.tarjeta img {
    width: 100%;
    
}
.tarjeta a {
    padding-left: 35%;
    color: white;
}
.tarjeta span {
    padding-left: 45%;
    color: white;
}
.video {
    background-color: black;
}
footer {
    background-image: url(/img/footerBLACKSUN.webp);
    color: white;
    height: 18vw;
}
footer a{
    color: white;
    margin-left: 10%;

}

footer li {
    margin-left: 50%;
    margin-top: 3%;
    list-style-type: none;
    
}