@keyframes cambiarColor {
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
    
}

.mi-elemento{
    background-color: red;
    border: 5px solid;
    padding: 10px;
    width: 50%;
    margin: auto;
    box-sizing: content-box;
    justify-items: center;
    animation: cambiarColor infinite 1s;
}

img {
    height: auto;
    width: 30vw;
    padding: 10vw;
}